.tabs-title {
  font-weight: bold;
}

.columns {
  background-color: white;
}

.tabs {
  background-color: #EFEFEF;
}

body {
  background-color: white;
}

p {
  margin-left: 1vw;
  margin-right: 1vw;
}

.header {
	width: 80%;
	height: 100% ;
	margin-bottom: 0.9vw;
}

.logo {
	width: 100%;
	margin-top: 1vw;
}

.caption {
	font-size: 0.9vw;
	font-style: italic;
	width: 82%;
	margin-bottom: 0.9vw;
}

.author {
	font-size: 1vw;
	font-style: italic;
	width: 80%;
	font-weight: bold;
}

.hline { 
	width:100%; 
	height:1px; 
	background: black; 
	margin-top: 1vw; 
	margin-bottom: 
	2vw;
}

.tabs-title {
	/*width: 102px;*/
	width: 10.5%;
}

.tabs {
    text-align: center;
    height: 100%;
}

/*
.tabs-title:hover {
	background-color: black;
	color: white;
}
*/

.tabs li {
    display: inline-block;
    float: none;
    height: 100%;
}

.disabled {
   pointer-events: none;
   cursor: default;
}

.disabled > a {
	color: black;
}

/*
body {
	background-color: black;
}
*/